body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa;
    color: #0a0a0a;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.ai-intro {
    margin: 30px 20px;
    padding: 10px;
}

.ai-intro h2 {
    font-size: 28px;
    color: #004d40;
}

.ai-intro p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.ai-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.ai-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.ai-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.4);
}

.ai-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

.ai-card h2 {
    color: #004d40;
    margin: 15px 0;
}

.ai-card p {
    color: #333;
    font-size: 15px;
}

.previousbtn {
    width: 30%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background:#4f52ba;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.previousbtn:hover {
    background: #050555;
}
footer {
    background-color: #004d40;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
