.home-img-container {
  overflow: hidden;
}

.home-img {
  width: 100%;
  position: relative;
}

.home-img:hover {
  transition: 10s;
  transform: scale(1.5);
}

.home-description {
  position: absolute;
  top: 150px;
  right: 100px;
  color: #fff;
  font-size: 1.5rem;
  width: 45%;
}

.home-description h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.mars-container {
  background-color: #110515;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mars-content {
  max-width: 1480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.mars-video-container {
  width: 60%;
}

.mars-video-container iframe {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 16/9;
}

.mars-description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: start;
  color: #c1e8ff;
}

.mars-content h2 {
  font-size: 2rem;
}

.mars-cards-large-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.mars-cards-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.red-cards-heading {
  font-size: 2.2rem;
}

.red-card-grid {
  max-width: 1480px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.red-card {
  /* width: 300px; */
  position: relative;
  overflow: hidden;
}

.red-card img {
  width: 100%;
  vertical-align: middle;
}

.red-card:hover img {
  transition: all 0.6s ease-in-out;
  transform: scale(1.05);
}

.red-card-title {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-card-title span {
  color: #c1e8ff;
  font-size: 1.7rem;
  font-weight: bold;
  text-shadow: 2px 3px 5px #000000, -2px -3px 5px #000000;
}

.images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.images {
  padding: 20px;
}

.images-container h2 {
  font-size: 2.2rem;
  margin: 0 0 30px 0;
}

.images-grid {
  max-width: 1480px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}

.img-container img {
  width: 100%;
  aspect-ratio: 2/1;
  vertical-align: middle;
}

@media (max-width: 992px) {
  .mars-content {
    flex-direction: column-reverse;
  }

  .mars-video-container {
    width: 100%;
  }

  .mars-description {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .red-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .images-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .red-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .images-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
  }
}
