body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space-container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.Science-card{
    height: 610px;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #c1e8ff;
    margin: 10px;
    position: relative;
   }

.Science-card:hover{
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).5;
    transition: 0.5s;
    cursor: pointer;
    } 
    
    .tag-line{
        height: 50px;
        width: 800px;
        background-color: #b26fcb;
        color: #110515;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).2;
        border-radius: 10px;
    }

.Astrophysics{
    width: 400px;
    border: 1px solid black;
    margin: 20px 15px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).2;
    border-radius: 5px;
    background-color: #c1e8ff;
    color: #ff3300;
    display: inline-block;
    color:#110515;
}

.Space-science{
    color: #ff3300;
}

.space-heading{
    margin: 0;
    text-align: center;
}

.about-.Astrophysics{
    height: 200px;
}

.Astrophysics:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Astrometry{
    width: 400px;
    border: 1px solid black;
    margin: 20px 15px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).2;
    border-radius: 5px;
    background-color: #c1e8ff;
    color:#110515;
}

.space-heading-2{
    margin: 0;
    text-align: center;
}

.about-Astrometry{
    height: 150px;
}

.Astrometry-img{
    height: 200px;
    width: 180px;
}

.Astrometry:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.Astrogeology{
    width: 400px;
    border: 1px solid black;
    margin: 20px 15px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).2;
    border-radius: 5px;
    background-color: #c1e8ff;
    color:#110515;
}

.space-heading-3{
    margin: 0;
    text-align: center;
}

.about-Astrogeology{
    height: 100px;
}

.Astrogeology-img{
    height: 200px;
    width: 200px;
}

.Astrogeology:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.Astrobiology{
    width: 400px;
    border: 1px solid black;
    margin: 20px 15px;
    padding: 12px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0).2;
    border-radius: 5px;
    background-color: #c1e8ff;
    color:#110515;
}

.space-heading-4{
    margin: 0;
    text-align: center;
}

.about-Astrobiology{
    height: 150px;
}

.Astrobiology-img{
    height: 200px;
    width: 200px;
}

.Astrobiology:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}


.btn-know-more{
    background-color: #b26fcb;
    color: #110515;
    display: block;
    margin: 10px top;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
}
.about-space-science {
    text-align: center;
    padding: 40px;
    background-color: #110515;
    color: #c1e8ff;
    border-radius: 10px;
    margin: 20px;
}

.about-heading {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ff3300;
}

.about-description{
    font-size: 18px;
    margin: 10px 0;
}

.about-conclusion {
    font-size: 18px;
    margin: 10px 0;
}

.about-list {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.about-list li {
    font-size: 28px;
    margin: 5px 0;
    padding: 8px;
    background: #b26fcb;
    border-radius: 10px;
}

.space{
    background-color: #110515;
    color: #ff3300;
    display: inline-block
}

.branch{
    background-color: #110515;
    color: #c1e8ff;
    display: inline-block

}