body {
    font-family: Arial, sans-serif;
    background-color: #c1e8ff;
    color: #b26fcb;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #110515;
    color: rgb(228, 218, 218);
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #c46de3;
    text-decoration: none;
}

.hero {
    background-color: #c1e8ff;
    padding: 50px;
    color: rgb(221, 25, 25);
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    display: block;
    background-color: #110515;
    color: #b26fcb;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    text-decoration: none; 
}

.card h3, .card p {
    color: #b26fcb;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

footer {
    background-color: #110515;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
