* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.universe-img-container {
  margin: 0 auto;
  max-width: 1521px;
  position: relative;
}

.universe-img-container img {
  width: 100%;
  height: auto;
}

.universe-heading {
  position: absolute;
  color: #ffffff;
  top: 25%;
  left: 2%;
  font-size: 3rem;
}

.universe-theory-container {
  position: sticky;
  top: 80px;
  z-index: 100;
  background-color: #c1e8ff;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.universe-theory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 800px;
}

.universe-theory a {
  margin: 0 10px;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
}

@media (max-width: 400px) {
  .universe-theory {
    width: 240px;
  }

  .universe-theory a {
    margin: 0 10px 10px;
  }
}

@media (max-width: 600px) {
  .universe-heading {
    font-size: 1.3rem;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .universe-heading {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .universe-heading {
    font-size: 2.3rem;
  }
}
